/* ---------------------------------------------------------------------------------
   LEFT SECTION APPS
--------------------------------------------------------------------------------- */
#custom-options-wrap {
  padding: 0px 10px;
  min-width: 25px;
  margin-left: 5px;
}

/* ---------------------------------------------------------------------------------
   RIGHT SECTION APPS
--------------------------------------------------------------------------------- */
#custom-right_options_wrap {
  padding: 0px 8px 0px 9px;
  min-width: 25px;
}

#right_options {
  padding: 0;
  min-width: 25px;
  margin: 0;
}

/* ---------------------------------------------------------------------------------
   STATUS ( MEMORY, CPU, TEMPERATURE)
--------------------------------------------------------------------------------- */

#custom-status_wrap {
  padding: 0 8px;
}

#status {
  padding: 0;
  min-width: 25px;
  margin: 0;
}