/* ---------------------------------------------------------------------------------
   IMPORTS
--------------------------------------------------------------------------------- */
@import url("styles/main.css");
@import url("scripts/wallpaper_scripts/wallpaper_theme.css");
@import url("styles/apps.css");
@import url("styles/connection.css");
@import url("styles/groups.css");
@import url("styles/services.css");
@import url("styles/system.css");
