@define-color workspaces white;
@define-color workspaces_button white;
@define-color workspaces_button_back black;
@define-color workspaces_buton_hover_back gray;
@define-color workspaces_buton_hover black;
@define-color color_list_left white;
@define-color color_list_right black;
@define-color keyboard_locked gray;
@define-color status_hover_back white;
@define-color color_list_left_back  black;
@define-color color_list_right_back white;
@define-color list_border_left black;
@define-color list_border_right white;
