/* Buttons widget */

.widget-buttons-grid {
  padding: 0;

}

.widget-buttons-grid flowboxchild {
  padding: 0px;
  margin: 5px;
  border-radius: 30px;

}


.widget-buttons-grid flowboxchild>button {
  border-radius: 30px;

}


.widget-buttons-grid flowboxchild>button.toggle:checked {
  /* style given to the active toggle button */

}
